@media (min-width: 1199px) {
    .d-tab-button {
        width: 18rem; /* Responsive width */
        height: 6rem; /* Responsive height */
        font-size: 1.7rem; /* Responsive font size */
        background: transparent;
        border: 0.1rem solid #2e9868;
        color: white;
    }
}
