:root {
    /* Defining color variables */
    --bug-color: #7dbd60;
    --dark-color: #736c75;
    --dragon-color: #6a7baf;
    --electric-color: #e5c531;
    --fairy-color: #e397d1;
    --fighting-color: #cb5f48;
    --fire-color: #ffa07a;
    --flying-color: #7da6de;
    --ghost-color: #846ab6;
    --grass-color: #a9e5bb;
    --ground-color: #cc9f4f;
    --ice-color: #70cbd4;
    --normal-color: #aab09f;
    --poison-color: #b468b7;
    --psychic-color: #e5709b;
    --rock-color: #b2a061;
    --steel-color: #89a1b0;
    --water-color: #add8e6;
}

.color-grass {
    color: var(--grass-color);
}

/* Apply specific colors based on pokemon type */
.bug {
    background-color: var(--bug-color);
}
.dark {
    background-color: var(--dark-color);
}
.dragon {
    background-color: var(--dragon-color);
}
.electric {
    background-color: var(--electric-color);
}
.fairy {
    background-color: var(--fairy-color);
}
.fighting {
    background-color: var(--fighting-color);
}
.fire {
    background-color: var(--fire-color);
}
.flying {
    background-color: var(--flying-color);
}
.ghost {
    background-color: var(--ghost-color);
}
.grass {
    background-color: var(--grass-color);
}
.ground {
    background-color: var(--ground-color);
}
.ice {
    background-color: var(--ice-color);
}
.normal {
    background-color: var(--normal-color);
}
.poison {
    background-color: var(--poison-color);
}
.psychic {
    background-color: var(--psychic-color);
}
.rock {
    background-color: var(--rock-color);
}
.steel {
    background-color: var(--steel-color);
}
.water {
    background-color: var(--water-color);
}

/* Apply specific drop-shadow filter for each color */
.poke-backdrop-bug {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(125, 189, 96, 0.6));
}

.poke-backdrop-dark {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(115, 108, 117, 0.6));
}

.poke-backdrop-dragon {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(106, 123, 175, 0.6));
}

.poke-backdrop-electric {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(229, 197, 49, 0.6));
}

.poke-backdrop-fairy {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(227, 151, 209, 0.6));
}

.poke-backdrop-fighting {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(203, 95, 72, 0.6));
}

.poke-backdrop-fire {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(255, 160, 122, 0.8));
}

.poke-backdrop-flying {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(125, 166, 222, 0.6));
}

.poke-backdrop-ghost {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(132, 106, 182, 0.6));
}

.poke-backdrop-grass {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(169, 229, 187, 0.6));
}

.poke-backdrop-ground {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(204, 159, 79, 0.6));
}

.poke-backdrop-ice {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(112, 203, 212, 0.6));
}

.poke-backdrop-normal {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(170, 176, 159, 0.6));
}

.poke-backdrop-poison {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(180, 104, 183, 0.6));
}

.poke-backdrop-psychic {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(229, 112, 155, 0.6));
}

.poke-backdrop-rock {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(178, 160, 97, 0.6));
}

.poke-backdrop-steel {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(137, 161, 176, 0.6));
}

.poke-backdrop-water {
    filter: drop-shadow(0rem 0rem 1.2rem rgba(173, 216, 230, 0.6));
}

/* Create border classes for each type with corresponding colors */
.border-bug {
    border-top: 0.4rem solid var(--bug-color);
}
.border-dark {
    border-top: 0.4rem solid var(--dark-color);
}
.border-dragon {
    border-top: 0.4rem solid var(--dragon-color);
}
.border-electric {
    border-top: 0.4rem solid var(--electric-color);
}
.border-fairy {
    border-top: 0.4rem solid var(--fairy-color);
}
.border-fighting {
    border-top: 0.4rem solid var(--fighting-color);
}
.border-fire {
    border-top: 0.4rem solid var(--fire-color);
}
.border-flying {
    border-top: 0.4rem solid var(--flying-color);
}
.border-ghost {
    border-top: 0.4rem solid var(--ghost-color);
}
.border-grass {
    border-top: 0.4rem solid var(--grass-color);
}
.border-ground {
    border-top: 0.4rem solid var(--ground-color);
}
.border-ice {
    border-top: 0.4rem solid var(--ice-color);
}
.border-normal {
    border-top: 0.4rem solid var(--normal-color);
}
.border-poison {
    border-top: 0.4rem solid var(--poison-color);
}
.border-psychic {
    border-top: 0.4rem solid var(--psychic-color);
}
.border-rock {
    border-top: 0.4rem solid var(--rock-color);
}
.border-steel {
    border-top: 0.4rem solid var(--steel-color);
}
.border-water {
    border-top: 0.4rem solid var(--water-color);
}
