$colors: (
    bug: #92b242,
    dark: #5a526a,
    dragon: #6a68cf,
    electric: #e2e242,
    fairy: #e242bc,
    fighting: #e27242,
    fire: #e24242,
    flying: #9090e2,
    ghost: #6768cf,
    grass: #2e9868,
    ground: #d2a758,
    ice: #68cfcf,
    normal: #a8a68a,
    poison: #9c50b7,
    psychic: #e24292,
    rock: #a8a258,
    steel: #a8aacb,
    water: #4a90e2,
    active-tab-color: #ffffff,
);

@each $type, $color in $colors {
    .#{$type} {
        background-color: $color;
    }

    .#{$type}-border {
        border-top: 0.4rem solid $color;
    }

    .button-#{$type} {
        border: 0.1rem solid darken($color, 10%);
        color: darken($color, 10%);
    }

    .poke-backdrop-#{$type} {
        filter: drop-shadow(0rem 0rem 1.2rem rgba($color, 0.6));
    }
}

// .tab-button.active::after {
//     content: "";
//     position: absolute;
//     display: block;
//     left: 50%;
//     width: 1%;
//     padding: 0.15rem 1rem;
//     margin: 0.1rem;
//     border-radius: 1rem;
//     z-index: 10;
//     transform: translateX(-50%);
//     background-color: var(--active-tab-color); /* Use the CSS variable */
// }
