$colors: (
    bug: #92b242,
    dark: #5a526a,
    dragon: #6a68cf,
    electric: #e2e242,
    fairy: #e242bc,
    fighting: #e27242,
    fire: #e24242,
    flying: #9090e2,
    ghost: #6768cf,
    grass: #2e9868,
    ground: #d2a758,
    ice: #68cfcf,
    normal: #a8a68a,
    poison: #9c50b7,
    psychic: #e24292,
    rock: #a8a258,
    steel: #a8aacb,
    water: #4a90e2,
    active-tab-color: #ffffff,
);

@each $type, $color in $colors {
    .#{$type} {
        background-color: $color;
    }

    .#{$type}-border {
        border-top: 0.4rem solid $color;
    }

    .button-#{$type} {
        border: 0.1rem solid darken($color, 10%);
        color: darken($color, 10%);
    }

    .move-#{$type} {
        background: linear-gradient(
            to right,
            lighten($color, 5%),
            darken($color, 5%)
        );
        // box-shadow: 0 0 5px $color, 0 0 0.25rem $color, 0 0 0.8rem $color;
    }

    // =========== Desktop Button Types (show.blade.php) =============
    .d-button-#{$type} {
        border: 0.15rem solid $color;
        padding: 0.5rem 1.4rem;
        margin: 0.4rem 0.4rem;
        border-radius: 2rem;
        min-width: 7rem;
        cursor: pointer;
        background: transparent;
        font-size: 1.6rem;
        color: $color;
        filter: drop-shadow(0rem 0rem 0.8rem rgba($color, 0.6));
    }

    .line-break-#{$type} {
        background-color: $color;
        height: 0.2rem;
        border-radius: 0.2rem;
        width: 100%;
        margin: 2rem 0;
    }

    .poke-backdrop-#{$type} {
        filter: drop-shadow(0.1rem 0.1rem 2rem rgba($color, 0.6));
    }

    .d-evo-poke-backdrop-#{$type} {
        filter: drop-shadow(0.1rem 0.1rem 2rem rgba($color, 0.6));
        transition: 0.3s;
    }

    .d-evo-poke-backdrop-#{$type}:hover {
        scale: 1.1;

        // filter: drop-shadow(0.1rem 0.1rem 2rem rgba($color, 0.8));
    }

    .type-indicator-#{$type} {
        background-color: $color;
    }

    .next-evolution-#{$type} {
        border: 0.2rem solid $color;
    }

    .d-tab-button-#{$type} {
        min-width: 15rem; /* Responsive width */
        height: 6rem; /* Responsive height */
        font-size: 1.5rem; /* Responsive font size */
        background: transparent;
        border: 0.1rem solid $color;
        color: white;
        font-weight: 700;
    }

    .d-tab-button-#{$type}:nth-child(1) {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right: none;
    }
    .d-tab-button-#{$type}:nth-child(3) {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-left: none;
    }

    .d-tab-button-#{$type}:hover {
        background-color: $color;
        cursor: pointer;
        color: black;
    }

    .d-tab-button-#{$type}.active {
        background-color: $color;
        color: black;
    }

    .d-move-#{$type} {
        color: $color;
        border: 0.1rem solid $color;
    }
}

// .tab-button.active::after {
//     content: "";
//     position: absolute;
//     display: block;
//     left: 50%;
//     width: 1%;
//     padding: 0.15rem 1rem;
//     margin: 0.1rem;
//     border-radius: 1rem;
//     z-index: 10;
//     transform: translateX(-50%);
//     background-color: var(--active-tab-color); /* Use the CSS variable */
// }
