@media (min-width: 1024px) {
    /*  ============ Hide Mobile View =========== */
    .pokemon,
    .poke-id,
    .poke-name,
    .poke-genus,
    .poke-types,
    .tab-section {
        display: none;
    }

    .d-pokemon {
        display: block;
        height: 100vh;
        position: relative;
    }

    .d-poke-profile {
        font-size: 2vw; /* Adjust font size based on viewport width */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        min-height: 100%;
    }

    .d-img-container {
        display: block;
        position: absolute;
        top: 50%;
        left: 34%;
        transform: translateY(-50%);
        height: 25vw;
        width: 25vw;
    }

    .d-img-container::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url("/images/pokedex.svg");
        background-size: cover;
        opacity: 0.25;
        transform: rotate(10deg);
    }

    .d-img-container img {
        height: 100%;
        width: auto;
    }

    .d-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        position: absolute;
        right: 5%;
        line-height: 2rem;
        font-size: 1.5rem;
        margin: 1.8rem 2rem;
    }
    .d-about h1 {
        padding: 1rem 0;
    }

    .d-about h2 {
        padding: 0 0 0.8rem 0;
    }
    .strengths,
    .weaknesses {
        margin-bottom: 2rem;
    }

    .d-poke-id {
        min-width: 5rem;
        top: 1rem;
        left: 25rem;
        font-size: 1.5rem;
    }

    .name-section {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 30rem;
        height: 10rem;
        background-color: #25241b;
        padding: 1rem;
        font-size: 1.3rem;
    }
    .type-indicator {
        position: absolute;
        top: -0.1rem;
        padding: 0.2rem 0;
        width: 3rem;
        border-radius: 0.2rem;
    }

    .d-poke-name {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .name-section .poke-DTypes {
        display: flex;
    }

    .next-evolution {
        position: absolute;
        top: 8.7rem;
        left: 11rem;
        padding: 0.3rem;
        width: 17rem;
        text-align: center;
        text-transform: uppercase;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -1;
        height: 100vh;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .d-stats-container {
        /* background-color: orange; */
        display: flex;
        justify-content: center;
        position: absolute;
        left: 5%;
        width: 28%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        font-size: 1.6rem;
        height: auto;
    }

    .d-stats-container .d-stat {
        display: flex;
        align-items: center;
    }

    .d-stats-container .d-stat-label {
        flex: 1;
        color: #636468;
        text-align: left;
    }

    .d-stats-container .d-stat-num {
        padding: 10px;
        color: white;
        min-width: 5rem;
        font-weight: 600;
    }

    .d-stats-container .d-stat-bar {
        flex: 3;
        background-color: #434949;
        height: 1rem;
        border-radius: 1rem;
    }

    .d-stats-container .d-stat-fill {
        height: 100%;
        transition: width 0.5s ease-in-out;
        border-radius: 1rem;
    }

    .d-tab-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100vh;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .d-tabs {
        position: fixed;
        bottom: 5%;
        display: inline-flex;
    }

    /* ################### Evolutions ################### */
    .d-evolution h2 {
        text-align: center;
    }

    .d-evolution-container {
        display: flex;
        padding: 1rem;
        width: 85vw;
        height: 60rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        /* background-color: #4e8234; */
        overflow-y: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* .d-evolution-box {
        transition: all 0.3s;
    }

    .d-evolution-container:hover > :not(:hover) {
        opacity: 0.4;
    } */

    .d-evolution-box {
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 0.8rem;
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
    }

    .d-evolution-box:hover img {
        scale: 1.1;
    }

    .d-evolution-box img {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 12rem;
        image-rendering: pixelated;
    }
    .d-evolution-name {
        color: #fff;
        font-size: 1.8rem;
        margin: 0.5rem 0;
    }
    .d-evolution-level {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .pokemon-types {
        display: inline-block;
        background: #4e8234;
        color: #fff;
        padding: 2px 5px;
        margin: 2px;
        border-radius: 5px;
    }

    .d-evo-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 5rem; */
    }

    /* ################### Move Set  ###################*/
    .d-moveSet {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .d-abilities {
        display: grid;
        grid-template-columns: repeat(2, 12rem);
        gap: 1rem;
        justify-content: center;
    }

    .d-ability {
        margin-bottom: 1rem;
        padding: 1rem 0;
        border-radius: 0.8rem;
        background: linear-gradient(to right, limegreen, green);
        box-shadow: 0 0.5rem 2rem rgba(32, 37, 44, 0.3);
    }

    .d-moveset-heading {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .d-moveset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.9rem;
        overflow-y: auto;
        max-height: 45rem;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .d-move {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding: 0.3rem;
        border-radius: 0.8rem;
        position: relative;
    }
}
