@media screen and (min-width: 767px) {
    .stats-container {
        max-width: 68rem;
    }

    .name-section {
        display: none;
    }
    .abilities-container {
        display: flex;
        margin: 1.5rem 1.5rem;
        gap: 1rem;
        justify-content: center;
    }

    .ability {
        width: 23rem;
    }
}
